<div>
    <h2 translate="pocetna"></h2>
    <div ng-controller="HomeCtrl">
        <p>
            Biblioteka Sarajeva je javna kulturna ustanova èiji je osnivaè Kanton Sarajevo. Uz manje statusne promjene uspješno je prošla svoj razvojni put do današnje, moderno organizirane biblioteke.
            Kao institucija od posebne društvene važnosti ima znaèajnu ulogu u unapreðenju obrazovnog nivoa stanovništva i oèuvanju kulturne baštine. Dio je obimnog biblioteèkog sistema Bosne i Hercegovine i
            doprinosi stalnom razvoju bibliotekarstva i efikasnijoj konsolidaciji informacionih tokova.
        </p>
        <p>
            Dobitnik je brojnih zahvalnica, nagrada i priznanja od kojih su najznaèajnije: Priznanje Kulturno-prosvjetne zajednice BiH (1969.), Spomen plaketa grada Sarajeva (1970.),
            Zahvalnica Organizacionog komiteta XIV Zimskih olimpijskih igara u Sarajevu (1984.), Šestoaprilska nagrada grada Sarajeva (1987.) i druge.
        </p>
        <p>
            U cilju zadovoljenja potreba èitalaèke populacije na cijelom prostoru Kantona Sarajevo, kao i
            dostizanja biblioteèkih normativa i standarda, Biblioteka kontinuirano razvija mrežu pozajmnih odjeljenja.
            Do sada je oformljeno 16 odjela u okviru kojih se nalaze još i: Centralna èitaonica, Djeèija èitaonica,
            Njemaèka èitaonica i Amerièki kutak. Pored rada sa èitaocima svih struktura, u Biblioteci se obavljaju i
            drugi, Zakonom o biblioteèkoj djelatnosti predviðeni poslovi: sistematsko i organizirano prikupljanje,
            obnavljanje, èuvanje i struèna obrada biblioteèke graðe; formiranje zavièajne zbirke i zaštita stare i
            rijetke knjige; matièna djelatnost; unapreðivanje jedinstvenog biblioteèko-informacionog sistema i sl.
        </p>
        <p>
            Biblioteka posjeduje vrijedne kolekcije knjiga, od kojih se neke ubrajaju u spomenike kulture. Kao posebni fondovi izdvajaju se Zavièajna,
            Sarajevska i Spomenièka zbirka, fond strane knjige, multimedijalna graða, te zbirke edukacionih sredstava za najmlaðe.
        </p>
        <p>
            Zahvaljujuæi modernim tehnologijama i uvoðenjem programskog servisa COBISS, postignuta je veæa brzina pristupa informacijama i
            dokumentovanim resursima, te brži i efikasniji rad sa korisnicima biblioteèkih usluga, što je doprinijelo da se ova Biblioteka odvoji od tradicionalnog naèina
            rada i preðe na suvremene metode poslovanja.
        </p>
        <p>
            Kopirano sa Biblioteka Sarajeva!
        </p>
    </div>
</div>