<div data-ng-controller="PretragaCtrl">
    <h2>Pretraga knjiga</h2>
    <ul>
        <li><a href="./index.html#/Napredna">Napredna</a></li>
        <li><a href="./index.html#/Jednostavna">Jednostavna</a></li>
        <li><a href="./index.html#/PoKodu">Po kodu</a></li>
    </ul>
    <h3>Jednostavna pretraga</h3>
    <div id="forma">
        <form>
            <label for="tip">Tip knjige:</label><input type="text" id="tip" ng-model="jednostavnaModel.tipknjige"><br>
            <label for="jezik">Jezik:</label><input type="text" id="jezik" ng-model="jednostavnaModel.jezik">
            <label for="naziv">Naziv:</label><input type="text" id="naziv" ng-model="jednostavnaModel.naziv"><br>
            <label for="autor">Autor:</label><input type="text" id="autor" ng-model="jednostavnaModel.autor">
            <input type="button" ng-click="jednostavna()" value="Pretrazi" />
        </form>
    </div>
    <div id="knjige">
        <div id="kopija">
            <p class="naslov"></p>
            <p class="autor"></p>
            <p class="izdavac"></p>
            <p class="godina"></p>
            <p class="opis"></p>
        </div>
    </div>
</div>