<div data-ng-controller="PretragaCtrl">

    <ul class="nav nav-tabs">
        <li><a href="./index.html#/Jednostavna" translate="jednostavna">Jednostavna</a></li>
        <li><a href="./index.html#/Napredna" translate="napredna">Napredna</a></li>
        <li><a href="./index.html#/PoKodu" translate="po_kodu">Po kodu</a></li>
    </ul>
    <h3 translate="jednostavna_pretraga">Jednostavna pretraga</h3>
    <div id="forma" class="row">
        <form name="myForm">
            <div class="col-md-6">
                <fieldset class="form-group form-inline">
                    <label for="tip" translate="tip_knjige">Tip knjige:</label>
                    <select id="tip" class="form-control" ng-model="jednostavnaModel.tipknjige">
                        <option ng-selected="{{defaultTipKnjige == value.id}}" data-ng-repeat="t in tipoviknjiga" value="{{t.referenca}}">{{t.opis}}</option>
                    </select> <br />
                </fieldset>

                <fieldset class="form-group form-inline">
                    <label for="jezik" translate="jezici">Jezici:</label>
                    <select id="jezik" class="form-control" ng-model="jednostavnaModel.jezik">
                        <option ng-selected="{{defaultJezik == value.id}}" data-ng-repeat="t in jezici" value="{{t.referenca}}">{{t.opis}}</option>
                    </select><br />
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset class="form-group form-inline">
                    <label for="naziv" translate="naziv">Naziv:</label>
                    <input name="naziv" class="form-control" type="text" id="naziv" ng-model="jednostavnaModel.naziv" required>
                    <span ng-show="myForm.naziv.$invalid" class="warning" translate="naziv_je_obavezan">Naziv je obavezan</span><br />
                </fieldset>

                <fieldset class="form-group form-inline">
                    <label for="autor" translate="autor">Autor:</label>
                    <input name="autor" type="text" class="form-control" id="autor" ng-model="jednostavnaModel.autor" required>
                    <span ng-show="myForm.autor.$invalid" class="warning" translate="autor_je_obavezan">Autor je obavezan</span><br />
                </fieldset>

                <button class="button form-control" ng-click="jednostavna()" translate="pretrazi"> </button>
            </div>
        </form>
    </div>
    <div class="row">
        <div ng-repeat="x in rezultat">
            <div class="col-md-6 knjige">
                <h4 class="naslov">{{x.naslov}}</h4>
                <p class="autor" ng-repeat="a in x.Autori">Autori: {{a.naziv}} </p>
                <p class="izdavac">Izdavac: {{x.Izdavac.naziv}}</p>
                <p class="godina">Godina izdavanja: {{x.godina_izdavanja | date:'yyyy'}}</p>
                <p class="opis">Opis: {{x.opis}}</p>
                <p class="kopije">Dostupno kopija: {{x.dostupno_kopija}}</p>

                <!--dio za rezervaciju-->
                <input type="button" value="Rezervisi" ng-attr-id="{{ 'd' + x.ID }}" ng-click="dijalog($event)" />
                <div hidden ng-attr-id="{{ 'r' + x.ID }}">
                    <h3>Da li ste sigurni da zelite rezervisati ovu knjigu?</h3>
                    <span>
                        <input type="button" value="DA" ng-attr-id="{{ 'y' + x.ID }}" ng-click="rezervisi($event)">
                        <input type="button" value="NE" ng-attr-id="{{ 'n' + x.ID }}" ng-click="dijalog($event)">
                    </span>
                </div>
                <h3 hidden ng-attr-id="{{ 'm' + x.ID }}">...</h3>
                <input hidden type="button" value="Uredu" ng-attr-id="{{ 'b' + x.ID }}" ng-click="hideMessage($event)">                
            </div>
        </div>
    </div>
</div>