<div data-ng-controller="PretragaCtrl">
    <h2>Pretraga knjiga</h2>
    <ul>
        <li><a href="./index.html#/Napredna">Napredna</a></li>
        <li><a href="./index.html#/Jednostavna">Jednostavna</a></li>
        <li><a href="./index.html#/PoKodu">Po kodu</a></li>
    </ul>
    <h3>Jednostavna pretraga</h3>
    <div id="forma">
        <form name="myForm">
            <label for="tip">Tip knjige:</label>
            <select id="tip" ng-model="jednostavnaModel.tipknjige">
                <option ng-selected="{{defaultTipKnjige == value.id}}" data-ng-repeat="t in tipoviknjiga" value="{{t.referenca}}">{{t.opis}}</option>
            </select> <br />
            <label for="jezik">Jezici:</label>
            <select id="jezik" ng-model="jednostavnaModel.jezik">
                <option ng-selected="{{defaultJezik == value.id}}" data-ng-repeat="t in jezici" value="{{t.referenca}}">{{t.opis}}</option>
            </select><br />
            <label for="naziv">Naziv:</label><input name="naziv" type="text" id="naziv" ng-model="jednostavnaModel.naziv" required>
            <span ng-show="myForm.naziv.$invalid">Naziv je obavezan</span><br />
            <label for="autor">Autor:</label><input name="autor" type="text" id="autor" ng-model="jednostavnaModel.autor" required>
            <span ng-show="myForm.autor.$invalid">Autor je obavezan</span><br />
            <input type="button" ng-click="jednostavna()" value="Pretrazi" />
        </form>
    </div>
    <div id="knjige" ng-repeat="x in rezultat">
        <div>
            <p class="naslov">{{x.naslov}}</p>
            <p class="autor" ng-repeat="a in x.Autori">Autori: {{a.naziv}} </p>
            <p class="izdavac">Izdavac: {{x.Izdavac.naziv}}</p>
            <p class="godina">Godina izdavanja: {{x.godina_izdavanja | date:'yyyy'}}</p>
            <p class="opis">Opis: {{x.opis}}</p>
            <p class="kopije">Dostupno kopija: {{x.dostupno_kopija}}</p>
            <input type="button" ng-click="rezervisi(x.id)" value="Rezervisi" />
        </div>
    </div>
</div>