<div ng-controller="KatalogCtrl" class="row">
    <h3>Dodavanje knjiga</h3>
    <form name="myForm">
        <div class="col-md-6">
            <fieldset class="form-group form-inline">
                <label for="tip" translate="tip_knjige">Tip knjige:</label>
                <select id="tip" class="form-control" ng-model="tip">
                    <option data-ng-repeat="t in tipoviknjiga" value="{{t.ID}}">{{t.opis}}</option>
                </select>
            </fieldset>

            <fieldset class="form-group form-inline">
                <label for="jezik" translate="jezici">Jezici:</label>
                <select id="jezik" class="form-control" ng-model="jezik">
                    <option data-ng-repeat="t in jezici" value="{{t.ID}}">{{t.opis}}</option>
                </select>
            </fieldset>

            <fieldset class="form-group form-inline">
                <label for="naziv" translate="naziv">Naziv:</label>
                <input name="naziv" class="form-control" type="text" id="naziv" ng-model="naprednaModel.naslov" required>
            </fieldset>

            <fieldset class="form-group form-inline">
                <label for="isbn" translate="">Isbn:</label>
                <input name="isbn" class="form-control" type="text" id="isbn" ng-model="naprednaModel.isbn" required>
            </fieldset>

            <fieldset class="form-group form-inline">
                <label for="autor" translate="autor">Autor:</label>
                <input name="autor" class="form-control" type="text" id="autor" ng-model="naprednaModel.autor" required>
            </fieldset>

            <fieldset class="form-group form-inline">
                <label for="izdavac" translate="izdavac">Izdavac:</label>
                <select id="izdavac" class="form-control" ng-model="izdavac">
                    <option data-ng-repeat="t in izdavaci" value="{{t.ID}}">{{t.naziv}}</option>
                </select>
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset class="form-group form-inline">
                <label for="godina" translate="godina">Godina:</label>
                <input name="godina" class="form-control" type="number" id="godina" ng-model="naprednaModel.godina">
            </fieldset>

            <fieldset class="form-group form-inline">
                <label for="ukupno_kopija" translate="">Ukupno kopija</label>
                <input name="ukupno_kopija" class="form-control" type="number" id="ukupno_kopija" ng-model="naprednaModel.ukupno_kopija">
            </fieldset>

            <fieldset class="form-group form-inline">
                <label for="dostupno_kopija" translate="">Dostupno kopija</label>
                <input name="dostupno_kopija" class="form-control" type="number" id="dostupno_kopija" ng-model="naprednaModel.dostupno_kopija">
            </fieldset>

            <fieldset class="form-group form-inline">
                <label for="izdanje" translate="">Izdanje</label>
                <input name="izdanje" class="form-control" type="number" id="izdanje" ng-model="naprednaModel.izdanje">
            </fieldset>

            <fieldset class="form-group form-inline">
                <label for="broj_strana" translate="">Broj strana</label>
                <input name="broj_strana" class="form-control" type="number" id="broj_strana" ng-model="naprednaModel.broj_strana">
            </fieldset>

            <button class="form-control button" ng-click="dodaj()">Dodaj</button>
            <p class="warning" ng-bind-html="error"></p>

        </div>
    </form>
    <h3>Brisanje knjiga</h3>
    <form>
        <div class="col-md-6">
            <fieldset class="form-group form-inline">
                <label for="knjiga" translate="">Knjiga:</label>
                <select id="knjiga" class="form-control" ng-model="knjiga">
                    <option data-ng-repeat="t in knjige" value="{{t.ID}}">{{t.naslov}}, ISBN: {{t.isbn}}</option>
                </select>
            </fieldset>
            <button class="form-control button" ng-click="obrisi()">Obriši knjigu</button>
            <p class="warning" ng-bind-html="errorbrisi"></p>
        </div>
    </form>
</div>