<div ng-controller="KKnjigeCtrl">
    <h2>Kriticne knjige</h2>
    <div id="knjige" ng-repeat="k in lista_knjiga">
        <div>
            <p class="naslov">{{k.naslov}}</p>
            <p class="autor" ng-repeat="a in k.Autori">Autori: {{a.naziv}} </p>
            <p class="izdavac">Izdavac: {{k.Izdavac.naziv}}</p>
            <p class="jezik">Jezik: {{k.Jezik.opis}}</p>
            <p class="tipKnjige">Tip knjige: {{k.TipKnjige.opis}}</p>
            <p class="broj">ID: {{k.idbroj}}</p>
            <p class="isbn">ISBN: {{k.isbn}}</p>
            <p class="broj">Izdanje: {{k.izdanje}}</p>
            <p class="datum">Godina izdavanja: {{k.godina_izdavanja}}</p>
            <p class="dostupno">DOSTUPNO KOPIJA: {{k.dostupno_kopija}}</p>
            <p class="broj">UKUPNO KOPIJA: {{k.ukupno_kopija}}</p>
        </div>
    </div>
    <h3 ng-bind-html="polje"></h3>
</div>