<div data-ng-controller="PretragaCtrl">
    <h2>Pretraga knjiga</h2>
    <ul>
        <li><a href="./index.html#/Napredna">Napredna</a></li>
        <li><a href="./index.html#/Jednostavna">Jednostavna</a></li>
        <li><a href="./index.html#/PoKodu">Po kodu</a></li>
    </ul>
    <h3>Napredna pretraga</h3>
    <div id="forma">
        <form name="myForm">
            <label for="tip">Tip knjige:</label>
            <select id="tip" ng-model="naprednaModel.tip">
                <option ng-selected="{{defaultTipKnjige == value.id}}" data-ng-repeat="t in tipoviknjiga" value="{{t.referenca}}">{{t.opis}}</option>
            </select> <br />
            <label for="jezik">Jezici:</label>
            <select id="jezik" ng-model="naprednaModel.jezik">
                <option ng-selected="{{defaultJezik == value.id}}" data-ng-repeat="t in jezici" value="{{t.referenca}}">{{t.opis}}</option>
            </select><br />
            <label for="naziv">Naziv:</label><input name="naziv" type="text" id="naziv" ng-model="naprednaModel.naziv" required><br />
            <label for="autor">Autor:</label><input name="autor" type="text" id="autor" ng-model="naprednaModel.autor" required>
            <span ng-show="myForm.naziv.$invalid && myForm.autor.$invalid">Naziv ili autor su obavezni</span><br />
            <label for="izdavac">Izdavac:</label><input name="izdavac" type="text" id="izdavac" ng-model="naprednaModel.izdavac"><br />
            <label for="godina">Godina:</label><input name="godina" type="number" id="godina" ng-model="naprednaModel.godina"><br />
            <label for="kljucne">Ključne riječi:</label><input name="kljucne" type="text" id="kljucne" ng-model="naprednaModel.kljucne"><br />
            <input type="button" ng-click="napredna()" value="Pretrazi" />
        </form>
    </div>
    <div id="knjige" ng-repeat="x in rezultat">
        <div>
            <p class="naslov">{{x.naslov}}</p>
            <p class="autor" ng-repeat="a in x.Autori">Autori: {{a.naziv}} </p>
            <p class="izdavac">Izdavac: {{x.Izdavac.naziv}}</p>
            <p class="godina">Godina izdavanja: {{x.godina_izdavanja | date:'yyyy'}}</p>
            <p class="opis">Opis: {{x.opis}}</p>
            <p class="kopije">Dostupno kopija: {{x.dostupno_kopija}}</p>
            <input type="button" ng-click="rezervisi(x.id)" value="Rezervisi" />
        </div>
    </div>
</div>