<div data-ng-controller="PretragaCtrl">

    <ul class="nav nav-tabs">
        <li><a href="./index.html#/Jednostavna" translate="jednostavna">Jednostavna</a></li>
        <li><a href="./index.html#/Napredna" translate="napredna">Napredna</a></li>
        <li><a href="./index.html#/PoKodu" translate="po_kodu">Po kodu</a></li>
    </ul>
    <h3 translate="napredna_pretraga">Napredna pretraga</h3>
    <div id="forma" class="row">
        <form name="myForm">
            <div class="col-md-6">
                <fieldset class="form-group form-inline">
                    <label for="tip" translate="tip_knjige">Tip knjige:</label>
                    <select id="tip" class="form-control" ng-model="naprednaModel.tip">
                        <option ng-selected="{{defaultTipKnjige == value.id}}" data-ng-repeat="t in tipoviknjiga" value="{{t.referenca}}">{{t.opis}}</option>
                    </select>
                </fieldset>

                <fieldset class="form-group form-inline">
                    <label for="jezik" translate="jezici">Jezici:</label>
                    <select id="jezik" class="form-control" ng-model="naprednaModel.jezik">
                        <option ng-selected="{{defaultJezik == value.id}}" data-ng-repeat="t in jezici" value="{{t.referenca}}">{{t.opis}}</option>
                    </select>
                </fieldset>

                <fieldset class="form-group form-inline">
                    <label for="naziv" translate="naziv">Naziv:</label>
                    <input name="naziv" class="form-control" type="text" id="naziv" ng-model="naprednaModel.naziv" required>
                </fieldset>

                <fieldset class="form-group form-inline">
                    <label for="autor" translate="autor">Autor:</label>
                    <input name="autor" class="form-control" type="text" id="autor" ng-model="naprednaModel.autor" required>
                    <span class="warning" ng-show="myForm.naziv.$invalid && myForm.autor.$invalid" translate="naziv_ili_autor_su_obavezni">Naziv ili autor su obavezni</span>
                </fieldset>

            </div>
            <div class="col-md-6">
                <fieldset class="form-group form-inline">
                    <label for="izdavac" translate="izdavac">Izdavac:</label>
                    <input name="izdavac" class="form-control" type="text" id="izdavac" ng-model="naprednaModel.izdavac">
                </fieldset>


                <fieldset class="form-group form-inline">
                    <label for="godina" translate="godina">Godina:</label>
                    <input name="godina" class="form-control" type="number" id="godina" ng-model="naprednaModel.godina">
                </fieldset>

                <fieldset class="form-group form-inline">
                    <label for="kljucne" translate="kljucne_rijeci">Ključne riječi:</label>
                    <input name="kljucne" type="text" id="kljucne" class="form-control" ng-model="naprednaModel.kljucne">
                </fieldset>
                <button class="form-control button" ng-click="napredna()" translate="pretrazi"></button>
            </div>
        </form>
    </div>
    <div class="row">
        <div dir-paginate="x in rezultat | itemsPerPage: 4" current-page="currentPage">
            <div class="col-md-6 knjige">
                <div>
                    <h4 class="naslov">{{x.naslov}}</h4>
                    <p class="autor" ng-repeat="a in x.Autori">Autori: {{a.naziv}} </p>
                    <p class="izdavac">Izdavac: {{x.Izdavac.naziv}}</p>
                    <p class="godina">Godina izdavanja: {{x.godina_izdavanja | date:'yyyy'}}</p>
                    <p class="opis">Opis: {{x.opis}}</p>
                    <p class="kopije">Dostupno kopija: {{x.dostupno_kopija}}</p>
                </div>
                

                <!-- Dio za rezervisanje -->
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" ng-attr-id="{{x.ID}}" ng-click="postaviID($event)" translate="rezervisi"></button>
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" translate="rezervacija"></h4>
                            </div>
                            <div class="modal-body">
                                <p translate="{{polje}}"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" translate="da" class="btn btn-default" id="da" ng-click="rezervisi()"></button>
                                <button type="button" translate="ne" class="btn btn-default" id="ne" data-dismiss="modal" ng-click="dijalog()"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
</div>