<div data-ng-controller="PretragaCtrl">

    <ul class="nav nav-tabs">
        <li><a href="./index.html#/Jednostavna" translate="jednostavna">Jednostavna</a></li>
        <li><a href="./index.html#/Napredna" translate="napredna">Napredna</a></li>
        <li><a href="./index.html#/PoKodu" translate="po_kodu">Po kodu</a></li>
    </ul>
    <h3 translate="pretraga_po_kodu">Pretraga po kodu</h3>
    <div id="forma">
        <form name="myForm">
                <fieldset class="form-group form-inline">
                    <label for="kod" translate="kod">Kod:</label>
                    <input name="kod" class="form-control" type="text" id="kod" ng-model="pokoduModel.kod" required>
                    <span ng-show="myForm.kod.$invalid" class="warning" translate="kod_je_obavezan">Kod je obavezan</span><br />
                    </fieldset>
                    <button class="form-control button" ng-click="pokodu()" translate="pretrazi"></button>
        </form>
    </div>
    <div class="row">
    <div ng-repeat="x in rezultat">
        <div class="col-md-6 knjige">
            <h4 class="naslov">{{x.naslov}}</h4>
            <p class="autor" ng-repeat="a in x.Autori">Autori: {{a.naziv}} </p>
            <p class="izdavac">Izdavac: {{x.Izdavac.naziv}}</p>
            <p class="godina">Godina izdavanja: {{x.godina_izdavanja | date:'yyyy'}}</p>
            <p class="opis">Opis: {{x.opis}}</p>
            <p class="kopije">Dostupno kopija: {{x.dostupno_kopija}}</p>

            <!-- Dio za rezervisanje -->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" ng-attr-id="{{x.ID}}" ng-click="postaviID($event)" translate="rezervisi"></button>
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" translate="rezervacija"></h4>
                        </div>
                        <div class="modal-body">
                            <p translate="{{polje}}"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" translate="da" class="btn btn-default" id="da" ng-click="rezervisi()"></button>
                            <button type="button" translate="ne" class="btn btn-default" id="ne" data-dismiss="modal" ng-click="dijalog()"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
</div>