<div data-ng-controller="PretragaCtrl">

    <ul class="nav nav-tabs">
        <li><a href="./index.html#/Jednostavna" translate="jednostavna">Jednostavna</a></li>
        <li><a href="./index.html#/Napredna" translate="napredna">Napredna</a></li>
        <li><a href="./index.html#/PoKodu" translate="po_kodu">Po kodu</a></li>
    </ul>
    <h3 translate="pretraga_po_kodu">Pretraga po kodu</h3>
    <div id="forma">
        <form name="myForm">
                <fieldset class="form-group form-inline">
                    <label for="kod" translate="kod">Kod:</label>
                    <input name="kod" class="form-control" type="text" id="kod" ng-model="pokoduModel.kod" required>
                    <span ng-show="myForm.kod.$invalid" class="warning" translate="kod_je_obavezan">Kod je obavezan</span><br />
                    </fieldset>
                    <button class="form-control button" ng-click="pokodu()" translate="pretrazi"></button>
        </form>
    </div>
    <div class="row">
    <div ng-repeat="x in rezultat">
        <div class="col-md-6 knjige">
            <h4 class="naslov">{{x.naslov}}</h4>
            <p class="autor" ng-repeat="a in x.Autori">Autori: {{a.naziv}} </p>
            <p class="izdavac">Izdavac: {{x.Izdavac.naziv}}</p>
            <p class="godina">Godina izdavanja: {{x.godina_izdavanja | date:'yyyy'}}</p>
            <p class="opis">Opis: {{x.opis}}</p>
            <p class="kopije">Dostupno kopija: {{x.dostupno_kopija}}</p>

            <!--dio za rezervaciju-->
            <input type="button" value="Rezervisi" ng-attr-id="{{ 'd' + x.ID }}" ng-click="dijalog($event)" />
            <div hidden ng-attr-id="{{ 'r' + x.ID }}">
                <h3>Da li ste sigurni da zelite rezervisati ovu knjigu?</h3>
                <span>
                    <input type="button" value="DA" ng-attr-id="{{ 'y' + x.ID }}" ng-click="rezervisi($event)">
                    <input type="button" value="NE" ng-attr-id="{{ 'n' + x.ID }}" ng-click="dijalog($event)">
                </span>
            </div>
            <h3 hidden ng-attr-id="{{ 'm' + x.ID }}">...</h3>
            <input hidden type="button" value="Uredu" ng-attr-id="{{ 'b' + x.ID }}" ng-click="hideMessage($event)">
        </div>
    </div>
        </div>
</div>