<div ng-controller="RegisterCtrl">
    <h1>Register</h1>
    <label for="ime">Ime:</label><input type="text" id="ime" ng-model="korisnikModel.ime"><br>
    <label for="prezime">Prezime:</label><input type="text" id="prezime" ng-model="korisnikModel.prezime"><br>
    <label for="telefon">Telefon:</label><input type="text" id="telefon" ng-model="korisnikModel.telefon"><br>
    <label for="adresa">Adresa:</label><input type="text" id="adresa" ng-model="korisnikModel.adresa"><br>
    <label for="email">Email:</label><input type="text" id="email" ng-model="korisnikModel.email"><br>
    <label for="username">Username:</label><input type="text" id="username" ng-model="korisnikModel.username"><br>
    <label for="password">Password:</label><input type="password" id="password" ng-model="korisnikModel.password"><br>
    <label for="password">Retype password:</label><input type="password" id="password2" ng-model="retypeModel.password"><br>

    <button ng-click="regMe()">Registruj me</button>
    <p ng-bind-html="error"></p>
</div>