 <div data-ng-controller="RegisterCtrl">
 <h1>Register</h1>
     <label for="ime">Ime:</label><input type="text" id="ime" ng-model="loginModel.ime"><br>
     <label for="prezime">Prezime:</label><input type="text" id="prezime" ng-model="loginModel.prezime"><br>
     <label for="telefon">Telefon:</label><input type="text" id="telefon" ng-model="loginModel.telefon"><br>
     <label for="adresa">Adresa:</label><input type="text" id="adresa" ng-model="loginModel.adresa"><br>
     <label for="email">Email:</label><input type="text" id="email" ng-model="loginModel.email"><br>
     <label for="username">Username:</label><input type="text" id="username" ng-model="loginModel.username"><br>
     <label for="password">Password:</label><input type="text" id="password" ng-model="loginModel.password"><br>
     <label for="password">Retype password:</label><input type="text" id="password2" ng-model="loginModel.password"><br>

     <button ng-click="">Registruj me</button>
 </div>