<div ng-controller="RKnjigeCtrl">
    <h2>Rezervacije</h2>
    <div id="rezervacije" ng-repeat="r in lista_rezervacija">
        <div>
            <p class="naslov">{{r.Knjiga.naslov}}</p>
            <p class="autor" ng-repeat="a in r.Knjiga.Autori">Autori: {{a.naziv}} </p>
            <p class="izdavac">Izdavac: {{r.Knjiga.Izdavac.naziv}}</p>
            <p class="godina">Godina izdavanja: {{r.Knjiga.godina_izdavanja | date:'yyyy'}}</p>
            <p class="datum">Datum rezervacije: {{r.datum_rezervacije}}</p>
            <p class="status">Status: {{r.status}}</p>
        </div>
    </div>
    <h3 ng-bind-html="polje"></h3>
</div>