<div ng-controller="StatistikaCtrl">
    <h2 translate="statistika"></h2><hr>
    <div class="row">
        <div class="well">
            <h3 translate="rezervacije_u_godini"></h3>
            <canvas id="line" class="chart chart-line" chart-data="data1" chart-labels="labels1"
                    chart-legend="true" chart-series="series1" chart-click="onClick1" chart-colours="colours1"></canvas>
        </div>
        <div class="col-md-6">
            <div class="well">
                <h3 translate="dom_tipovi_knjiga"></h3>
                <canvas id="pie" class="chart chart-pie"
                        chart-data="data2" chart-labels="labels2" chart-legend="true"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <h3 translate="">Prijave po danima</h3>
                <canvas id="pie" class="chart chart-pie"
                        chart-data="data3" chart-labels="labels3" chart-legend="true"></canvas>
            </div>
        </div>
        <div class="col-md-12">
            <div class="well">
                <h3 translate="">Najaktivniji korisnici</h3>
                <canvas id="pie" class="chart chart-bar"
                        chart-data="data4" chart-labels="labels4" chart-legend="true" chart-series="series4" chart-colours="colours1"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <h3 translate="">Autori sa najviše knjiga</h3>
                <canvas id="pie" class="chart chart-pie"
                        chart-data="data5" chart-labels="labels5" chart-legend="true" chart-series="series5" chart-colours="colours1"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <h3 translate="">Najpopularniji autori</h3>
                <canvas id="pie" class="chart chart-pie"
                        chart-data="data6" chart-labels="labels6" chart-legend="true" chart-series="series6" chart-colours="colours1"></canvas>
            </div>
        </div>
    </div>
    <hr>
</div>