<div ng-controller="StatistikaCtrl">
    <h2 translate="statistika"></h2><hr>
    <div class="well">
        <h3>Rezervacije tokom godine</h3>
        <canvas id="line" class="chart chart-line" chart-data="data1" chart-labels="labels1"
                chart-legend="true" chart-series="series1" chart-click="onClick1" chart-colours="colours1"></canvas>
    </div>
    <hr>
    <div class="well">
        <h3>Zastupljenost tipova knjiga</h3>
        <canvas id="pie" class="chart chart-pie"
                chart-data="data2" chart-labels="labels2" chart-legend="true"></canvas>
    </div>
    <hr>
</div>