<div ng-controller="ZKnjigeCtrl">
    <h2>Zaduzenja</h2>
    <div id="zaduzenja" ng-repeat="z in lista_zaduzenja">
        <div>
            <p class="naslov">{{z.Knjiga.naslov}}</p>
            <p class="autor" ng-repeat="a in z.Knjiga.Autori">Autori: {{a.naziv}} </p>
            <p class="izdavac">Izdavac: {{z.Knjiga.Izdavac.naziv}}</p>
            <p class="godina">Godina izdavanja: {{z.Knjiga.godina_izdavanja | date:'yyyy'}}</p>
            <p class="datum">Datum zaduzenja: {{z.datum_zaduzenja}}</p>
            <p class="datum">Rok: {{z.rok}}</p>
            <h3 class="status">Rok: {{z.status}}</h3>
        </div>
    </div>
    <h3 ng-bind-html="polje"></h3>
</div>